.App-tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .App-tasks-list{
    background-color: #ccc;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
  }
  
  .App-task-list-conatiner{
    height: calc(100vh - 220px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(21, 49, 100) transparent;
    scrollbar-width: thin;
  }

  .App-task-list-conatiner::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: transparent;
}

.App-task-list-conatiner::-webkit-scrollbar-thumb {
    background: rgb(21, 49, 100);
    -webkit-border-radius: 1ex;
}

.App-task-list-conatiner::-webkit-scrollbar-corner {
    background: #000;
}